@font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Bold';
    src: url('fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('fonts/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Futura PT';
}

img {
    display: block;
}

a {
    text-decoration: none !important;
}


/* Шапка */

header {
    display: flex;
    align-items: center;
    height: 68px;
    background-color: #252525;
}

header .header_location {
    display: flex;
    justify-self: center;
    align-items: center;
}

.location_icon {
    margin-right: 10px;
}

.location_descr {
    color: #eeeeee;
    font-size: 18px;
    font-weight: 400;
}

.header_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header_phone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone_icon {
    margin-right: 10px;
}

.phone_descr {
    font-size: 18px;
    font-weight: 700;
}

.phone_descr a {
    text-decoration: none;
    color: #eeeeee;
}

header .header_basket {
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket_icon {
    margin-right: 10px;
}

.basket_descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}


/* Под шапка */

.subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 9px rgba(0, 0, 2, 0.16);
}

.subheader_catalog {
    display: flex;
    align-items: center;
}

.subheader_md {
    display: none;
}

.catalog_icon {
    margin-right: 10px;
}

.catalog_descr {
    color: #260101;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.subheader_search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 772px;
    height: 36px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    border-radius: 10px;
}

.search_button {
    width: 82px;
    height: 23px;
    border: 2px solid #ff4ec1;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #ff00a5;
    margin-right: 30px;
    border-radius: 10px;
}

.dropdown_disable {
    position: absolute;
    /* left: 198px; */
    min-height: 200px;
    background-color: white;
    box-shadow: 0 10px 19px -16px #333;
    color: white;
    z-index: 20;
    width: 100%;
    display: none;
}

.dropdown_items {
    margin: 30px 0px;
}

.dropdown_items .col-md-3 {
    padding: 0;
}

.dropdown_item {
    position: relative;
    margin-top: 10px;
    padding: 3px 0px;
    justify-content: left;
}

.dropdown_item::after {
    position: absolute;
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    bottom: 0;
    background-color: #FF41C2;
    ;
    border-radius: 10px;
    transition: all 0.5s;
}

.dropdown_item:hover .dropdown_descr {
    color: #FF41C2;
}

.dropdown_item:hover::after {
    width: 86%;
}

.dropdown_item2:hover .dropdown_descr {
    color: red;
}

.dropdown_item2:hover::after {
    width: 86%;
}

.dropdown_item2 {
    position: relative;
    margin-top: 10px;
    padding: 3px 0px;
    justify-content: left;
}

.dropdown_item2::after {
    position: absolute;
    content: '';
    display: block;
    width: 0%;
    height: 2.5px;
    bottom: 0;
    background-color: red;
    ;
    border-radius: 10px;
    transition: all 0.5s;
}

.dropdown_item2:hover .dropdown_descr2 {
    color: red;
}

.dropdown_item2:hover::after {
    width: 86%;
}

.dropdown_descr2 {
    font-size: 15px;
    font-weight: 400;
    color: black;
    font-weight: 600;
    padding: 10px 0% 10px 10px;
}

.dropdown_image img {
    max-width: 30px;
}

.dropdown_descr {
    font-size: 15px;
    font-weight: 400;
    color: black;
    font-weight: 600;
    padding: 10px 0% 10px 10px;
}


/* Бургер */

.mobile-menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding: 0 16px; */
    top: 0px;
    /* background-color: #27ae60; */
    /* left: 0; */
    /* right: 0; */
    height: 50px;
    z-index: 9999999;
}

.mobile-menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.mobile-menu__btn2 {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.mobile-menu__icon {
    display: block;
    position: relative;
    background: black;
    width: 90%;
    height: 4px;
    transition: 0.4s;
}

.mobile-menu__icon::after,
.mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: black;
    width: 100%;
    height: 4px;
    transition: 0.4s;
}

.mobile-menu__icon::after {
    top: 8px;
}

.mobile-menu__icon::before {
    top: -8px;
}

.mobile-menu__container {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
    overflow: hidden;
    background-color: #27ae60;
}

.mobile-menu__list {
    transition: 0.5s;
    transition-delay: 0.5s;
    list-style: none;
    padding-left: 0;
    margin-top: -50px;
}

.mobile-menu__item {
    font-size: 26px;
    padding-bottom: 15px;
}

.mobile-menu__link {
    text-decoration: none;
    color: #fff;
}

.mobile-menu__checkbox {
    display: none;
}

.mobile-menu__checkbox:checked~.mobile-menu__nav {
    opacity: 1;
    transition-delay: 0s;
}

.mobile-menu__checkbox:checked~.mobile-menu__container {
    height: 100%;
    transition-delay: 0s;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon {
    background: transparent;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::before,
.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.restriction {
    position: relative;
    left: -15px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 40px 0 20px 0;
}

.restriction_icon {
    max-width: 25px;
    margin-right: 10px;
}

.restriction_descr {
    font-size: 20px;
    color: red;
    font-weight: 600;
}


/* 
.line {
    display: block;
    height: 1px;
    margin: 26px 0;
    background-color: #bebebe;
} */

.dropdown_items .first_row {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 30px;
}


}
@media (max-width: 1199.98px) {}
@media (max-width: 991.98px) {}
@media (max-width: 767.98px) {
    .phone_adaptation {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 468px) {
    .header_logo img {
        width: 170px;
    }
    
    .header_basket img {
        width: 20px;
    }
    
    .basket_icon {
        margin-right: 6px;
    }
    
    .catalog_descr {
        font-size: 10px;
    }
    
    .search_button {
        width: 54px;
        margin-right: 11px;
    }
}